table {
    width : 100%;
    display: block;
    border:1px solid black;
    margin: 0;
    padding: 0;
}

table th {
    background-color: #f3f3f3;
    border:1px solid black;
    margin: 0;
    padding: 0;
}